<% include partials/header.ejs %>

      <main>
         <div id="header"></div>
            <div id="loginBlock">
               <h3>Please login</h3>
               <form class="form-signin">
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
               </form>
            </div>
            
         <div>

<% include partials/footer.ejs %>